<h1 align="center"> Recipe Name: <%= @recipe.name.capitalize %></h1>
<div class="well col-md-8 col-md-offset-2">
  <!-- because we want it in the middle of our page and we want a offset from the left. we want to basically skip the first 2 columns and hence we use offset-2. So it will skip the first two columns and then start after 2nd column-->
  <h4 class="center description">
    <strong> Description: </strong>
  </h4>
  <hr />
  <%= @recipe.description %>
  <p> Created by: </p>
  <p> <small> <%= @recipe.chef.chefname %> </small>
    <div class="pull-right"> Created: <%= time_ago_in_words(@recipe.created_at) %> ago</div>
  </p>
</div>
