$navbar-default-bg: #432c1e;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #c65204;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
  
#logo:hover {
  color: #fff;
  text-decoration: none;
}  

.jumbotron {
  background-image: asset-url('recipe_seeds.png');
  background-size: cover;
  height: 300px;
}

.jumbotron h1 {
  color:  #B7AC9A;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2 {
  color:  #B7AC9A;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
    background-color: #652D0E;
}

.btn-xlarge:hover {
    color: #fff;
    text-decoration: none;
}

.description {
  margin-top: 0;
}

.well a {
  color: #432c1e;
}

.chef_info {
  margin-top: 10px;
}

.colormatch a {
  color: #652D0E;
}

.recipe-actions {
  padding-top: 5px;
  a {
    color: #fff;
  }
}

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
  color: #652D0E;
  font-weight: bold;
  font-size: 1.25em;
}
